*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

header {
    height: 4em;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #333333;
    color: white;
    border-bottom: 2px solid #ffd700;
}

body{
    background-color: #4d4d4d;
}

.titulo{
    font-weight: 500;
    font-size: 2.5em;
}

#lista{
    font-size: 1.3em;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 1.5em;
}

li a{
    text-decoration: none;
    color: white;
    transition: .2s ease-in-out;
}

li a:hover{
    color: #ffd700;
    font-weight: 500;
    border-bottom: 1px solid #ffd700;
    font-size: 1.4em;
    transition: .2s ease-in-out;
}

@media (max-width: 700px) {
    header{
        display: block;
        font-size: 10px;
        text-align: center;
    }

}