*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

header {
    height: 4em;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.titulo{
    font-weight: 500;
    font-size: 2.5em;
}

#lista{
    font-size: 1.3em;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 1.5em;
}

li a{
    text-decoration: none;
    color: black;
}

hr{
    color: #ffd700;
}